@import "tailwindcss";

@theme {
  --color-neo-bg: #8c52ff; /* Vivid Purple background */
  --color-neo-yellow: #ffde00;
  --color-neo-pink: #ff69b4;
  --color-neo-cyan: #00ffff;
  --color-neo-black: #000000;
  --color-neo-white: #ffffff;

  --font-neo: "Courier New", Courier, monospace;
}

body {
  background-color: var(--color-neo-bg);
  background-image: radial-gradient(
    var(--color-neo-black) 1px,
    transparent 1px
  );
  background-size: 20px 20px;
  font-family: var(--font-neo);
  color: var(--color-neo-black);
}

.neo-box {
  background-color: var(--color-neo-white);
  border: 4px solid var(--color-neo-black);
  box-shadow: 8px 8px 0px 0px var(--color-neo-black);
  transition: all 0.1s ease-in-out;
}

.neo-box:hover {
  transform: translate(-2px, -2px);
  box-shadow: 10px 10px 0px 0px var(--color-neo-black);
}

.neo-input {
  border: 3px solid var(--color-neo-black);
  border-radius: 0;
  font-weight: bold;
}
.neo-input:focus {
  outline: none;
  background-color: var(--color-neo-yellow);
}

.neo-btn {
  background-color: var(--color-neo-pink);
  border: 3px solid var(--color-neo-black);
  color: var(--color-neo-black);
  font-weight: 900;
  text-transform: uppercase;
  box-shadow: 4px 4px 0px 0px var(--color-neo-black);
  transition: all 0.1s;
}

.neo-btn:active {
  transform: translate(4px, 4px);
  box-shadow: 0px 0px 0px 0px var(--color-neo-black);
}

.neo-btn:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
  transform: none;
  box-shadow: 4px 4px 0px 0px var(--color-neo-black);
}

.neo-tag {
  background-color: var(--color-neo-cyan);
  border: 2px solid var(--color-neo-black);
  font-weight: bold;
  padding: 0.2rem 0.5rem;
  box-shadow: 2px 2px 0px 0px var(--color-neo-black);
}
